{% extends "base_generic.html" %}
{% block title %}
    About WeekWeaver
{% endblock title %}
{% block content %}
    <div class="container py-5">
        <p>Welcome to WeekWeaver!</p>
        <p>
            For anybody who has a lot on their plate and not enough time to
            plan out how to attack it all, WeekWeaver is a weekly planner
            that takes in all of your current tasks and assignments and
            uses generative A.I. to give you an itenerary that gives you an
            optimized way to tackle your tasks for the week. Unlike most
            products that simply record a to-do list or lists your due
            dates, our product intends to give you a solution and a plan
            of attack for the weeks ahead so that you can stress less and
            be more productive.
        </p>
        <p>
            WeekWeaver is, at its core, a weekly planner software that is
            designed to assist its users with planning for tasks throughout
            a period of time. The intended design is for users (who may be
            feeling overwhelmed due to being swamped with work) to input
            their tasks for a given period of time into the planner. If a
            task is high priority, the user may mark it as such. The user
            may also input times that they are unable to work on their tasks
            so that the planner does not schedule during those inopportune
            stretches of time such as daily meetings or class times.
        </p>
        <p>
            Once the user has input the different tasks that must be
            completed, the software will take into account due dates, task
            complexity, and high priority listings and develop an itenerary
            for the user (based around their schedule) that displays the
            most optimal method of tackling each task set before them
            including periodic breaks to prevent the user being overworked.
            This program and its features are intended to take away the
            stress of planning from the users, granting them an optimized
            plan that can allow them to complete their tasks in a timely
            manner before any approaching deadlines.
        </p>
        <p>
            This product is intended for absolutely anybody! WeekWeaver is
            designed to be useful to anybody who may need a little extra
            help in planning their week and wants the stress of planning it
            all out to be taken off of their shoulders.
        </p>
        <p>
            The users of WeekWeaver will have less stress, better time
            management, and deadlines will be easier to meet as the planning
            is taken out of their week and they can simply perform their
            necessary tasks in both their professional and personal lives.
        </p>
    </div>
{% endblock content %}
