asgiref
beautifulsoup4
coverage
dj-database-url
Django
django-bootstrap5
fontawesomefree
gunicorn
parameterized
pytz
soupsieve
sqlparse
whitenoise
pylama
djlint
pylint
pylint-django
pytest-django
pytest-cov
Pillow
ruff