{% extends "base_generic.html" %}
{% block title %}
    Task: {{ tasks.task_name }}
{% endblock title %}
{% block content %}
    <div class="row justify-content-center mb-4">
        <div class="col-md-6">
            <div class="text-center">
                <a class="btn btn-primary" href="{% url 'tasks:update-task' tasks.id %}">
                    <i class="fa-solid fa-edit"></i> Edit
                </a>
                <a class="btn btn-danger" href="{% url 'tasks:delete-task' tasks.id %}">
                    <i class="fa-solid fa-trash"></i> Delete
                </a>
            </div>
        </div>
    </div>
    <div class="row justify-content-center mb-5">
        <div class="col-md-4"></div>
        <div class="col-md-4 centered">
            <p class="centered text-secondary">Deadline: {{ tasks.task_deadline }}</p>
            {% if user.is_authenticated and user.userprofile.is_free %}
                <p class="centered text-secondary">Recurring: {{ tasks.recurring }}</p>
            {% endif %}
            {% if user.is_authenticated and user.userprofile.is_paid %}
                <p class="centered text-secondary">Recurring: {{ tasks.recurring }}</p>
                <p class="centered text-secondary">Preparation Required: {{ tasks.preparation }}</p>
                <p class="centered text-secondary">Prep Amount: {{ tasks.how_much_prep }}</p>
            {% endif %}
            <p class="centered text-secondary">Level of Priority: {{ tasks.priority_level }}</p>
        </div>
        <div class="col-md-4"></div>
    </div>
{% endblock content %}
